<div style="margin-left: 30px; margin-right: 30px;">
    <h2><strong>TERMS AND CONDITIONS AGREEMENT</strong></h2>
    <h3>LAST REVISION: [30-05-2021]</h3>
    <p><u>PLEASE READ THIS TERMS OF SERVICE AGREEMENT CAREFULLY. BY USING OUR APPLICATION AND WEBSITE YOU AGREE TO BE BOUND
    BY
    ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT.</u> </p>

    <p>This Terms of Service Agreement (the "Agreement") governs your use of our website, www.encuestas.com (the "Website") and the application, encuestas Trading App (the “App”). This Agreement includes, and incorporates by this reference, the policies and guidelines
        referenced below. encuestas Trading App reserves the right to change or revise the terms and conditions of this Agreement at any time by posting any changes or a revised Agreement on this Website. encuestas Trading App will alert you that changes or revisions
        have been made by indicating on the top of this Agreement the date it was last revised. The changed or revised Agreement will be effective immediately after it is posted on this Website and Application. Your use of the Website and the application
        following the posting any such changes or of a revised Agreement will constitute your acceptance of any such changes or revisions. encuestas Trading App encourages you to review this Agreement whenever you visit the Website to make sure that you understand
        the terms and conditions governing use of the Website and the application. This Agreement does not alter in any way the terms or conditions of any other written agreement you may have with encuestas Trading App for other products or services. If you
        do not agree to this Agreement (including any referenced policies or guidelines), please immediately terminate your use of the Website and the application. If you would like to print this Agreement, please click the print button on your browser
        toolbar.
    </p>

    <h3>I. PRODUCTS</h3>
    <p><b>Terms of Offer:</b> From our website or from our application you can acquire the license to use the application on your Android device. By purchasing the license, you agree to the terms set forth in this Agreement.</p>

    <p><b>Opt Out Procedure:</b> If you wish, you can opt out of future requests or promotional emails by using the opt-out link found in any email request you may receive.</p>

    <p><b>Proprietary Rights:</b> encuestas Trading App has proprietary rights and trade secrets in the Products. You may not copy, reproduce, resell or redistribute any Product manufactured and/or distributed by encuestas Trading App. encuestas Trading App also has rights
        to all trademarks and trade dress and specific layouts of this webpage and application.
    </p>

    <p><b>Sales Tax:</b> If you purchase any Products, you will be responsible for paying any applicable sales tax.</p>

    <h3>II. WEBSITE AND APP</h3>
    <p><b>Content; Intellectual Property; Third Party Links:</b> In addition to making Products available, the Website and app also offer information and marketing materials. This Website also offers information, both directly and through indirect links
        to third-party websites. To the extent that encuestas Trading App does create the content on this Website and app, such content is protected by intellectual property laws of Colombia, foreign nations, and international bodies. Unauthorized use of the
        material may violate copyright, trademark, and/or other laws. You acknowledge that your use of the content on this website and app is for personal, noncommercial use. Any links to third-party websites are provided solely as a convenience to you.
        encuestas Trading App does not endorse the contents on any such third-party websites. encuestas Trading App is not responsible for the content of or any damage that may result from your access to or reliance on these third-party websites. If you link to
        third-party websites, you do so at your own risk.</p>

    <p><b> Use of website and app: </b> you will use our website and application at your own risk. encuestas Trading App is not responsible for any damages resulting from use of our website and app by anyone. You will not use the website or the app for illegal
        purposes. You will (1) abide by all applicable local, state, national, and international laws and regulations in your use of the Website and app (including laws regarding intellectual property), (2) not interfere with or disrupt the use and enjoyment
        of the website and app by other users, (3) not resell material on the website, (4) not engage, directly or indirectly, in transmission of "spam", chain letters, junk mail or any other type of unsolicited communication, and (5) not defame, harass,
        abuse, or disrupt other users of the community encuestas Trading App.</p>

    <p><b>License:</b> By using this Website or app, you are granted a limited, non-exclusive, non-transferable right to use the content and materials on the Website in connection with your normal, noncommercial, use of the Website. You may not copy, reproduce,
        transmit, distribute, or create derivative works of such content or information without express written authorization from encuestas Trading App or the applicable third party (if third party content is at issue).</p>

    <p><b>Posting: </b> By posting, storing, or transmitting any content on the website and app, you hereby grant encuestas Trading App a perpetual, worldwide, non-exclusive, royalty-free, assignable, right and license to use, copy, display, perform, create derivative
        works from, distribute, have distributed, transmit and assign such content in any form, in all media now known or hereinafter created, anywhere in the world. encuestas Trading App does not have the ability to control the nature of the user-generated
        content offered through the Website. You are solely responsible for your interactions with other users of the Website and any content you post. encuestas Trading App is not liable for any damage or harm resulting from any posts by or interactions between
        users. encuestas Trading App reserves the right, but has no obligation, to monitor interactions between and among users of the Website and to remove any content encuestas Trading App deems objectionable.
    </p>

    <h3>III. DISCLAIMER OF WARRANTIES</h3>

    <p>YOUR USE OF THE WEBSITE AND/OR APP AND/OR PRODUCTS ARE AT YOUR SOLE RISK. THE WEBSITE AND PRODUCTS ARE OFFERED ON AN "AS IS" AND "AS AVAILABLE" BASIS. encuestas Trading App EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING,
        BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT WITH RESPECT TO THE PRODUCTS OR WEBSITE CONTENT, OR ANY RELIANCE UPON OR USE OF THE WEBSITE CONTENT OR PRODUCTS. ("PRODUCTS" INCLUDE
        TRIAL PRODUCTS.)</p>

    <p><b>WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, encuestas Trading App MAKES NO WARRANTY:</b></p>
    <p>THAT THE INFORMATION PROVIDED ON THIS WEBSITE IS ACCURATE, RELIABLE, COMPLETE, OR TIMELY.</p>
    <p>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM THE WEBSITE AND APP WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED HEREIN.</p>
    <p>AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE PRODUCTS</p>
    <p>REGARDING ANY PRODUCTS PURCHASED OR OBTAINED THROUGH THE WEBSITE OR APP.</p>
    <p>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES, SO SOME OF THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU.
    </p>

    <h3>IV. LIMITATION OF LIABILITY</h3>

    <p>encuestas Trading App ENTIRE LIABILITY, AND YOUR EXCLUSIVE REMEDY, IN LAW, IN EQUITY, OR OTHWERWISE, WITH RESPECT TO THE WEBSITE AND APP CONTENT AND PRODUCTS AND/OR FOR ANY BREACH OF THIS AGREEMENT IS SOLELY LIMITED TO THE AMOUNT YOU PAID, LESS THE COMMISSION
        DISCOUNTED BY THE PAYMENT PLATFORM, FOR PRODUCTS PURCHASED THROUGH THE WEBSITE.</p>
    <p>encuestas Trading App WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES IN CONNECTION WITH THIS AGREEMENT OR THE PRODUCTS IN ANY MANNER, INCLUDING LIABILITIES RESULTING FROM (1) THE USE OR THE INABILITY TO USE THE
        WEBSITE OR APP CONTENT OR PRODUCTS; (2) THE COST OF PROCURING SUBSTITUTE PRODUCTS OR CONTENT; (3) ANY PRODUCTS PURCHASED OR OBTAINED OR TRANSACTIONS ENTERED INTO THROUGH THE WEBSITE; OR (4) ANY LOST PROFITS YOU ALLEGE.
    </p>
    <p>SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES SO SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>

    <h3>V. INDEMNIFICATION</h3>
    <p>You will release, indemnify, defend and hold harmless encuestas Trading App and any of its contractors, agents, employees, officers, directors, shareholders, affiliates and assigns from all liabilities, claims, damages, costs and expenses, including reasonable
        attorneys' fees and expenses, of third parties relating to or arising out of (1) this Agreement or the breach of your warranties, representations and obligations under this Agreement; (2) the Website and app content or your use of the Website
        and App content; (3) the Products or your use of the Products (including Trial Products); (4) any intellectual property or other proprietary right of any person or entity; (5) your violation of any provision of this Agreement; or (6) any information
        or data you supplied to encuestas Trading App. When encuestas Trading App is threatened with suit or sued by a third party, encuestas Trading App may seek written assurances from you concerning your promise to indemnify encuestas Trading App, your failure to provide
        such assurances may be considered by encuestas Trading App to be a material breach of this Agreement. encuestas Trading App will have the right to participate in any defense by you of a third-party claim related to your use of any of the Website and app
        content or Products, with counsel of encuestas Trading App choice at its expense. encuestas Trading App will reasonably cooperate in any defense by you of a third-party claim at your request and expense. You will have sole responsibility to defend encuestas
        Trading App against any claim, but you must receive encuestas Trading App prior written consent regarding any related settlement. The terms of this provision will survive any termination or cancellation of this Agreement or your use of the Website
        or Products.</p>

    <h3>VI. PRIVACY</h3>

    <p>encuestas Trading App believes strongly in protecting user privacy and providing you with notice encuestas Trading App use of data.
    </p>

    <h3>VII. AGREEMENT TO BE BOUND</h3>

    <p>By using this Website or ordering Products, you acknowledge that you have read and agree to be bound by this Agreement and all terms and conditions on this Website.</p>

    <h3>VIII. GENERAL</h3>

    <p><b>Force Majeure:</b> encuestas Trading App will not be deemed in default hereunder or held responsible for any cessation, interruption or delay in the performance of its obligations hereunder due to earthquake, flood, fire, storm, natural disaster, act
        of God, war, terrorism, armed conflict, labor strike, lockout, or boycott.</p>
    <p><b>Cessation of Operation:</b> encuestas Trading App may at any time, in its sole discretion and without advance notice to you, cease operation of the website or app and distribution of the Products.</p>
    <p><b>Entire Agreement:</b> This Agreement comprises the entire agreement between you and encuestas Trading App and supersedes any prior agreements pertaining to the subject matter contained herein.</p>
    <p><b>Effect of Waiver: </b>The failure of encuestas Trading App to exercise or enforce any right or provision of this Agreement will not constitute a waiver of such right or provision. If any provision of this Agreement is found by a court of competent jurisdiction
        to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of this Agreement remain in full force and effect.</p>
    <p><b>Governing Law: </b> This Website and App originates from the Manizales, Caldas, Colombia. This Agreement will be governed by the laws of Colombia without regard to its conflict of law principles to the contrary. Neither you nor encuestas Trading App
        will commence or prosecute any suit, proceeding or claim to enforce the provisions of this Agreement, to recover damages for breach of or default of this Agreement, or otherwise arising under or by reason of this Agreement, other than in courts
        located in Colombia. By using this Website or ordering Products, you consent to the jurisdiction and venue of such courts in connection with any action, suit, proceeding or claim arising under or by reason of this Agreement. You hereby waive any
        right to trial by jury arising out of this Agreement and any related documents.</p>
    <p><b>Statute of Limitation:</b> You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Website or Products or this Agreement must be filed within one (1) year after such
        claim or cause of action arose or be forever barred.</p>
    <p><b>Waiver of Class Action Rights:</b> BY ENTERING INTO THIS AGREEMENT, YOU HEREBY IRREVOCABLY WAIVE ANY RIGHT YOU MAY HAVE TO JOIN CLAIMS WITH THOSE OF OTHER IN THE FORM OF A CLASS ACTION OR SIMILAR PROCEDURAL DEVICE. ANY CLAIMS ARISING OUT OF, RELATING
        TO, OR CONNECTION WITH THIS AGREEMENT MUST BE ASSERTED INDIVIDUALLY.</p>
    <p><b>Termination:</b> encuestas Trading App reserves the right to terminate your access to the Website if it reasonably believes, in its sole discretion, that you have breached any of the terms and conditions of this Agreement. Following termination, you
        will not be permitted to use the Website and encuestas Trading App may, in its sole discretion and without advance notice to you, cancel any outstanding orders for Products. If your access to the Website is terminated, encuestas Trading App reserves the
        right to exercise whatever means it deems necessary to prevent unauthorized access of the Website. This Agreement will survive indefinitely unless and until encuestas Trading App chooses, in its sole discretion and without advance to you, to terminate
        it.</p>
    <p><b>Domestic Use:</b> encuestas Trading App makes no representation that the Website and App or Products are appropriate or available for use in locations outside Colombia. Users who access the Website from outside Colombia do so at their own risk and initiative
        and must bear all responsibility for compliance with any applicable local laws.</p>

    <p><b>Assignment:</b> You may not assign your rights and obligations under this Agreement to anyone. encuestas Trading App may assign its rights and obligations under this Agreement in its sole discretion and without advance notice to you.</p>
    <p><b>BY USING THE WEBSITE OR APP OR ORDERING PRODUCTS FROM THE WEBSITE OR APP TO BE BOUND BY ALL OF THE TERMS AND
  CONDITIONS OF THIS AGREEMENT.</b></p>

</div>